* {
	line-height: 120%;
}

.notice {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	text-align: center;
	display: none;
	background-color: yellow;
	width: 80%;
	margin: auto;
	border-radius: 10px;
	padding: auto;
}

body {
	background-color: #F7F2E0;
}

header {
	text-align: center;
}

.container {
	text-align: center;
	width: 80%;
	margin: auto;
}

label {
	margin: auto 20px;
}

.hidden {
	font-family: 'Ubuntu', sans-serif;
	background-color: #C8FE2E;
	border-radius: 10px;
	padding: 5px;
	display: none;
	text-align: center;
	width: 50%;
	margin: auto;
}

li p {
	margin: 5px auto;
}

li {
	margin: 15px auto;
	background-color: white;
	border-radius: 10px;
	padding: 5px;
}

.queried {
	display: block;
}

.btn {
	border-radius: 5px;
}

#output {
	width: 80%;
	margin: auto;
}

.one {
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

.two {
	font-size: 20px;
}

.mention {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
	font-size: 15px;
	border-radius: 10px;
	padding: 5px;
}

#top h1 {
	font-family: 'Glegoo', serif;
	font-weight: 800;
}

legend {
	font-family: 'Trocchi', serif;
	font-weight: 400;
}

option, #uno {
	font-family: 'Glegoo', serif;
	font-weight: 400;
}

#in1,  #deuce {
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}

form {
	font-size: 20px;
	border-radius: 10px;
	padding: 5px;
}

li:nth-child(2n) {
	background-color: Cyan;
}

#deuce span {
	text-decoration: underline;
}